div.title-search-result {
	border:1px solid #c6c6c6;
	display:none;
	overflow:hidden;
	z-index:205;
}

table.title-search-result {
	border-collapse: collapse;
	border:none;
	width:10%;
}

table.title-search-result th {
	background-color:#F7F7F7;
	border-right:1px solid #e8e8e8;
	color:#949494;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:14px;
	padding-right:12px;
	vertical-align:top;
	white-space:nowrap;
	width:1%;
}

table.title-search-result td {
	background-color:white;
	font-weight:normal;
	text-align:left;
	white-space:nowrap;
	vertical-align: middle;
	padding: 5px;
}
table.title-search-result td.title-search-item a {
	display:block;
}

table.title-search-result td.title-search-item img {
	vertical-align: top;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

table.title-search-result td.title-search-item b {
	color:#cf0000;
	font-weight:normal;
}

table.title-search-result tr.title-search-selected td
,table.title-search-result tr.title-search-selected a
,table.title-search-result tr.title-search-selected td.title-search-more a
{
	background-color:#eeeeee;
}

table.title-search-result td.title-search-more {
	font-size:11px;
	font-weight:normal;
	padding: 0 15px;
	text-align: right;
}

table.title-search-result td.title-search-more a
{
	text-decoration:none;
	color:#999999;
}

table.title-search-result td.title-search-all {
	padding-left:24px;
	padding-right:15px;
}

table.title-search-result td.title-search-all a
{
	padding-left:4px;
	text-decoration:none;
	color:#808080;
}

table.title-search-result td.title-search-separator
, table.title-search-result th.title-search-separator {
	padding-top:0px;
	padding-bottom:0px;
	text-align: left;
}

div.title-search-fader {
	display:none;
	background-image: url('images/fader.png');
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
}

p.title-search-preview {
	font-size:12px;
}
div.title-search-result td.title-search-price span {
	font-size: 26px;
}
#search-left-form{
	position: relative;
	height: 38px;
}
#search-left-form .fa-search{
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 11px 8px;
	cursor: pointer;
	background: #FFF;
}
#title-search-input{
	border: 1px solid #a6a8ab;
	height: 38px;
	padding: 0 4px;
	box-sizing: border-box;
	width: 100%;
	color: #555;
	font-size: 14px;
}
#title-search-input:focus {
	border-color: #16a5b6;
	outline: 0;
}
.title-search-item-container{
	width: 100%;
}
.title-search-item-image-link{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
	position: relative;
}